.Button {
    padding: 20px;
    background-color: blue;
    color: text-white ;  
    padding-right: 4px;  
    padding-left: 2px; 
    padding-top: 2px; 
    border-radius: 8px;  
  }

.Button:hover {
  background-color: red;

  }